IndentWidth: 4
TabWidth: 4
UseTab: Never
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
IndentCaseLabels: true
AllowAllParametersOfDeclarationOnNextLine: true
ColumnLimit: 80
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterStruct: true
  AfterUnion: true
  BeforeElse: false
  IndentBraces: false