name: NitroPacker Release

on:
  workflow_dispatch:
    inputs:
      version:  
        description: 'Version'
        required: true
        type: 'string'
      release_notes:
        description: 'Release Notes'
        required: true
        type: 'string'

jobs:
  build-and-publish:
    name: 'Build & Publish'
    strategy:
      matrix:
        platform:
          - image: 'ubuntu-latest'
            artifact_name: 'NitroPacker-Linux-x64-${{ inputs.version }}'
            rid: 'linux-x64'
            artifact_suffix: '.tar.gz'
          - image: 'ubuntu-24.04-arm'
            artifact_name: 'NitroPacker-Linux-arm64-${{ inputs.version }}'
            rid: 'linux-arm64'
            artifact_suffix: '.tar.gz'
          - image: 'macos-latest'
            artifact_name: 'NitroPacker-macOS-arm64-${{ inputs.version }}'
            rid: 'osx-arm64'
            artifact_suffix: '.tar.gz'
          - image: 'macos-latest'
            artifact_name: 'NitroPacker-macOS-x64-${{ inputs.version }}'
            rid: 'osx-x64'
            artifact_suffix: '.tar.gz'
          - image: 'windows-latest'
            artifact_name: 'NitroPacker-Windows-x64-${{ inputs.version }}'
            rid: 'win-x64'
            artifact_suffix: '.zip'
          - image: 'windows-11-arm'
            artifact_name: 'NitroPacker-Windows-arm64-${{ inputs.version }}'
            rid: 'win-arm64'
            artifact_suffix: '.zip'
    runs-on: ${{ matrix.platform.image }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
      with:
        submodules: true
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v5.0.0
      with:
        dotnet-version: '10.0.x'
    
    - name: Build & Publish NitroPacker
      run: dotnet publish HaroohieClub.NitroPacker.Cli/HaroohieClub.NitroPacker.Cli.csproj -c Release -f net10.0 -r ${{ matrix.platform.rid }} --self-contained /p:PublishSingleFile=true

    - name: Build & Publish SymTableHelper
      run: dotnet pubslih HaroohieClub.NitroPacker.SymTableHelper/HaroohieClub.NitroPacker.SymTableHelper.csproj -c Release -f net10.0 -r ${{ matrix.platform.rid }} --self-contained /p:PublishSingleFile=true
    
    - name: Create tar
      if: ${{ matrix.platform.artifact_suffix == '.tar.gz' }}
      shell: pwsh
      run: |
        mkdir publish
        Expand-Archive -Path HaroohieClub.NitroPacker.Cli/bin/Release/net10.0/${{ matrix.platform.rid }}/publish.zip -DestinationPath ./publish
        Push-Location publish
        chmod +x ./NitroPacker
        chmod +x ./NitroPacker.SymTableHelper
        tar -czvf ${{ matrix.platform.artifact_name }}${{ matrix.platform.artifact_suffix }} ./
        Pop-Location
    
    - name: Create zip
      if: ${{ matrix.platform.artifact_suffix == '.zip' }}
      shell: pwsh
      run: |
        mkdir publish
        Expand-Archive -Path HaroohieClub.NitroPacker.Cli/bin/Release/net10.0/${{ matrix.platform.rid }}/publish.zip .\publish
        Push-Location publish
        Compress-Archive -Path .\ -DestinationPath ${{ matrix.platform.artifact_name }}${{ matrix.platform.artifact_suffix }}
        Pop-Location
    
    - name: 'Upload artifact'
      uses: actions/upload-artifact@v6
      with:
        name: ${{ matrix.platform.artifact_name }}
        path: ${{ matrix.platform.artifact_name }}${{ matrix.platform.artifact_suffix }}
        retention-days: 1

  publish-package:
    name: 'Publish NuGet Package'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: Publish NuGet Package
        uses: tedd/publish-nuget-neo@main
        with:
          NUGET_KEY: ${{ secrets.API_NUGET_KEY }}
          PROJECT_FILE_PATH: HaroohieClub.NitroPacker.Cli/HaroohieClub.NitroPacker.Cli.csproj

  release:
    runs-on: ubuntu-latest
    needs: [ build-and-publish ]
    steps:
      - name: Download Linux x64
        uses: actions/download-artifact@v4.1.8
        with:
          name: NitroPacker-Linux-x64-${{ inputs.version }}
      - name: Download Linux ARM64
        uses: actions/download-artifact@v4.1.8
        with:
          name: NitroPacker-Linux-arm64-${{ inputs.version }}
      - name: Download macOS ARM64
        uses: actions/download-artifact@v4.1.8
        with:
          name: NitroPacker-macOS-arm64-${{ inputs.version }}
      - name: Download macOS ARM64
        uses: actions/download-artifact@v4.1.8
        with:
          name: NitroPacker-macOS-x64-${{ inputs.version }}
      - name: Download macOS x64
        uses: actions/download-artifact@v4.1.8
        with:
          name: NitroPacker-macOS-x64-${{ inputs.version }}
      - name: Download Windows x64
        uses: actions/download-artifact@v4.1.8
        with:
          name: NitroPacker-Windows-x64-${{ inputs.version }}
      - name: Download Windows ARM64
        uses: actions/download-artifact@v4.1.8
        with:
          name: NitroPacker-Windows-arm64-${{ inputs.version }}
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          name: NitroPacker v${{ inputs.version }}
          tag_name: ${{ inputs.version }}
          generate_release_notes: true
          files: ./*
          body: ${{ inputs.release_notes }}